.headimg{
    width:2.75rem;
    height:2.75rem;
}
.user{
    /* width: 6.25rem; */
}
.line{
    width: 1rem;
    height:1.8rem;
    border-left: 1px solid #ffffff;
    border-top:none;
    margin-left: 0.3125rem;
}
.list{
    background: #62cd9c;
    position: absolute;
    top:2.75rem;
    display: none;
}
.list > li{
    padding: 0 0.8rem 0 0.8rem;
}
.list > li a{
    color:#ffffff;
    font-size: 1rem;
}
.list > li:hover{
    background:#15B57F;
}
.list > li:hover a{
    color:#ffffff;
    text-decoration: none;
}
.rotate{
    animation:xuanzhuan 1s ease 0s;
}
@keyframes xuanzhuan {
    0%{transform:rotate(0deg)}
    90%{transform:rotate(90deg)}
    100%{transform:rotate(90deg)}
}
.rotate_currency{
    animation:xuanzhuan1 1s ease 0s;
}
@keyframes xuanzhuan1 {
    0%{transform:rotate(90deg)}
    90%{transform:rotate(0deg)}
    100%{transform:rotate(0deg)}
}
