.list{
    background: #4b4b4b;
    position: absolute;
    top:2.75rem;
    display: none;
}
.list > li{
    padding: 0 0.8rem 0 0.8rem;
}
.list > li a{
    color:#ffffff;
    font-size: 1rem;
}
.list > li:hover{
    background:#747474;
}
.list > li:hover a{
    color:#ffffff;
    text-decoration: none;
}