<header class="commonHeader">
    <div class="back" ng-click="back()"><i class="icon ion-chevron-left"></i></div>
    <h2>可移动文物地区分布</h2>
</header>
<section class="overflow-scroll scroll-content hasCommonHeader" style="z-index: -1;width: 100%;">
    <ion-content class="unitWrap">
        <!--<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>-->
        <div class="cityList" ng-repeat="item in relicCountList">
            <div class="cityItem" ng-click="showMuseum($event)">
                <span>{{item.cityName}}</span>
                <span>{{item.relicCount}}</span>
                <div><i class="icon ion-chevron-right"></i></div>
            </div>
            <div class="museumWrap hide" ng-repeat=" item1 in item.museumRelicCountList">
                <div class="museumList">{{item1.museumName}}</div>
                <div class="museumCount">{{item1.museumRelicCount}}</div>
            </div>
        </div>
        <!--<div class="cityList">-->
            <!--<div class="cityItem" ng-click="showMuseum($event)">-->
                <!--<span>青岛市</span>-->
                <!--<span>16</span>-->
                <!--<div><i class="icon ion-chevron-right"></i></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="cityList">-->
            <!--<div class="cityItem">-->
                <!--<span>淄博市</span>-->
                <!--<span>16</span>-->
                <!--<div><i class="icon ion-chevron-right"></i></div>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</section>