<div class="daolan">
    <a href="#/collectionSpecimenDetail/{{collectionID}}"><img src="img/39.png"></a>
    <h2>{{daolanName}}</h2>
    <p>详情</p>
</div>
<section class="overflow-scroll has-header
             scroll-content has-footer">
    <div class="daolan-pic">
        <img ng-src={{daolanPic}}>
        <div class="music-c"></div>
        <i class="music-note"><audio src="audio/Alexandra Stan - Get Back.mp3" autoplay></audio></i>
    </div>
    <div class="daolan-jieshao">
        <h2>文物介绍</h2>
    </div>
    <div class="daolan-jieshao-content">
        <p>呈勾曲形，口闭吻长，鼻端前突，上翘起棱，端面截平，有并排两个鼻孔，颈上有长毛，尾部尖收而上卷，形体酷似甲骨文中的“龙”字。玉龙墨绿色，体卷曲，平面形状如一C字，龙体横截面为椭圆形，直径2.3～2.9厘米。
            鬣扁薄，并磨出不显著的浅凹槽，边缘打磨锐利。龙身大部光素无纹，只在额及鄂底刻以细密的方格网状纹，网格突起作规整的小菱形。</p>
    </div>
    <div class="daolan-jieshao">
        <h2>文物视频</h2>
    </div>
    <div class="daolan-video" >
        <div id="mediaplayer"></div>
    </div>
</section>
<!--<script>-->
<!--jwplayer('mediaplayer').setup({-->
<!--'flashplayer': 'lib/jwplayer.flash.swf',-->
<!--'image': 'http://assets.jq22.com/plugin/2016-04-25-11-04-36.jpg',-->
<!--'id': 'playerID',-->
<!--'width': '100%',-->
<!--'aspectratio':'10:6',-->
<!--'file': 'http://jq22com.qiniudn.com/jq22com.mp4'-->
<!--});-->
<!--</script>-->