/*
* @Author: Administrator
* @Date:   2017-05-15 14:22:05
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-15 16:05:14
*/
header {
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.32rem;
    background: #FFFFFF;
    color: #349391;
    text-align: center;
    position: relative;
}
header a {
    position: absolute;
    display: inline-block;
    left: 0.27rem;
    top: 0.30rem;
    width: 0.15rem;
    height: 0.25rem;
    background: url(../images/Return.png) no-repeat left;
    background-size: 100% 100%;
}
.mui-slider-title{
	height: 0.75rem;
	line-height: 0.75rem;
	color: #FFFFFF;
	font-size: 0.26rem;
}
.mui-slider-title span{
	float: right;
	margin-right: 0.25rem;
	color: #858585;
}
.mui-slider-title span b{
	color: #fff;
	font-size: 0.28rem;
	font-weight: normal;
}
.bai-title{
	height: 0.64rem;
	line-height: 0.64rem;
	color: #349391;
	padding:0 0.18rem;
	border-bottom:0.01px solid #DCDCDC;
	position: relative;
}
.bai-title a {
    position: absolute;
    display: inline-block;
    right: 0.2rem;
    top: 0.20rem;
    width: 0.15rem;
    height: 0.25rem;
    background: url(../images/Reright.png) no-repeat left;
    background-size: 100% 100%;
}
.mui-table-view .mui-media-object{
	max-width: inherit;
	width: 1.92rem;
	height: 1.28rem;
}
.mui-table-view:after{
	height: 0;
}
.mui-table-view-cell:after{
	height: 0;
}
.mui-table-view-cell>a:not(.mui-btn){
	border-bottom: 0.01rem solid #DCDCDC;
}
.mui-table-view .mui-media-object.mui-pull-left{
	margin-right: 0.24rem;
}
.mui-media-body{
	font-size: 0.23rem;
	color: #000000;
}
.mui-table-view-cell h4{
	border-radius: 15px;
	height: 0.48rem;
	line-height: 0.48rem;
	background-color: #EDEDED;
	color: #6A6A6A;
	display: inline-block;
	padding:0 0.25rem;
	margin:0.12rem 0rem;
	font-size: 0.24rem;
	font-weight: normal;
}
.mui-table-view-cell span{
	font-size: 0.18rem;
	color: #AAAAAA;
}
.mui-table-view-cell h2{
	line-height: 0.36rem;
	color: #E2A16F;
	font-size: 0.22rem;
	font-weight: normal;
}
.mui-table-view-cell h2 b{
	font-weight: normal;
	color: #AAAAAA;
}